services:
  craiyon-bot:
    build: .
    environment:
      TDLIB_COMMIT_HASH: d321984b75fccdb76239529e8aadcf7f80b0e35a
      USER_AGENT:
      TELEGRAM_TOKEN:
      API_ID:
      API_HASH:
      DB_ENCRYPTION_KEY:
      FAL_API_KEY:
      STABLEHORDE_TOKEN:
      STABLEHORDE_CLIENT:
      MAKERSUITE_API_KEY:
      GROQ_API_KEY:
    volumes:
      - craiyon-bot:/data
    depends_on:
      - cobalt-api

  cobalt-api:
    image: ghcr.io/imputnet/cobalt:10
    restart: unless-stopped
    container_name: cobalt-api
    init: true
    ports:
      - 127.0.0.1:9000:9000/tcp
    environment:
      API_URL: "http://127.0.0.1:9000/"
    labels:
      - com.centurylinklabs.watchtower.scope=cobalt

  watchtower:
    image: ghcr.io/containrrr/watchtower
    restart: unless-stopped
    command: --cleanup --scope cobalt --interval 900 --include-restarting
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  craiyon-bot:
