services:
  craiyon-bot:
    build: .
    environment:
      TDLIB_COMMIT_HASH: cb164927417f22811c74cd8678ed4a5ab7cb80ba
      USER_AGENT: ${USER_AGENT}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      API_ID: ${API_ID}
      API_HASH: ${API_HASH}
      DB_ENCRYPTION_KEY: ${DB_ENCRYPTION_KEY}
      STABLEHORDE_TOKEN: ${STABLEHORDE_TOKEN}
      STABLEHORDE_CLIENT: ${STABLEHORDE_CLIENT}
      MAKERSUITE_API_KEY: ${MAKERSUITE_API_KEY}
      GROQ_API_KEY: ${GROQ_API_KEY}
    volumes:
      - craiyon-bot:/data

volumes:
  craiyon-bot:
